.box {
    width: 400px;       
    margin: 0 auto;
    padding-top: 50px;
    font-size: xx-large;  
}
#text_input{
    font-size: xx-large;
    font-family:'inter';
    
}
svg {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 250px; 
}

button:hover{
    background-color:rgb(252, 252, 252);
    
}
header {
    background-color: #5bbedf;
    font-family: sans-serif;
    width: 100%;
    padding: 2px;
    text-align: center; 
}
.footerStyle{
    background-color: #3f3f3f3e;
    color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}    
svg{
    height: auto;
    width: 30%;
}
button{
    font-size: 20px;
}

